@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Yanone+Kaffeesatz:400,700');



body {
	font-family: 'Roboto', sans-serif;
	margin: 0;
	background-image: url(background.png);
	background-size: 100vw;
	background-attachment: fixed;
}

.container {
	width: 7500px;
	margin: auto;
}

.header {
	position: absolute;
	height: 60px;
	line-height: 60px;
	width: 100vw;
	color: #fff;
	display: inline-block;
}

.headerNav {
	width: 40%;
	float: left;
}

.headerNav a {
	text-decoration: none;
	color: #C5CAE9;
	padding: 7px;
	font-weight: 500;
}

.headerName {
	font-family: 'Yanone Kaffeesatz', sans-serif;
	font-weight: 400;
	font-size: 32px;
	margin: 0 auto;
	text-align: center;
	width: 20%;
	float: left;
}

.headerRight {
	width: 40%;
	float: right;
	text-align: right;
}

.headerRight a {
	font-size: 18px;
	text-decoration: none;
	color: #C5CAE9;
	padding: 7px;
	font-weight: 500;
}

.quagsire {
	-webkit-animation-name: santa;
  	-webkit-animation-duration: 4s;
  	-webkit-animation-iteration-count: infinite;
  	animation-name: santa;
  	animation-duration: 4s;
  	animation-iteration-count: infinite;
  	position: relative;

  	top: 400px;
  	right: -550px;
  	width: 100px;
  	height: 100px;
}

@-webkit-keyframes santa {
  50%   {padding-top: 25px;}
  100% {padding-top: -25px;}
}

@keyframes santa {
  50%   {padding-top: 25px;}
  100% {padding-top: -25px;}
}

.background {
	width: 100vw;
	height: 100vh;
}

.text {
	position: absolute;
	top: 250px;
	left: 0;
	right: 0;
	margin: auto;
	margin-left: auto; 
  	margin-right: auto; 
  	width: 80vw;
  	text-align: center;
}

.text span {
	font-size: 72px;
	color: #fff;
	font-weight: bold;
}

.text p {
	font-size: 24px;
	color: #9FA8DA;
	font-weight: medium;
}

.cta {
	padding: 15px;
	background-color: #fff;
	text-decoration: none;
	color: #3F51B5;
	font-weight: medium;
	border-radius: 5px;
}

.cta i {
	padding-left: 10px;
}

.content {
	background-color: white;
	width: 1000px;
	margin: auto;
	margin-top: -150px;
	border-radius: 15px;
	padding: 30px;
	-webkit-box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.75);
}

.content h1 {
	color: #434343;
}

.product {
	width: 20%;
	height: 300px;
	background-color: #ededed;
	padding-left: 15px;
	display: inline-block;
	margin-left: 5px;
	margin-right: 5px;
	border-radius: 5px;
	margin-bottom: 15px;
}

.footer {
	height: 150px;
	line-height: 150px;
	color: #fff;
	font-weight: 400;
	text-align: center;
}


/* ANIMATIONS */
.swing-in-top-fwd {
	-webkit-animation: swing-in-top-fwd 0.75s cubic-bezier(0.175, 0.885, 0.320, 1.275) 1s both;
	        animation: swing-in-top-fwd 0.75s cubic-bezier(0.175, 0.885, 0.320, 1.275) 1s both;
}

.slide-in-left {
	-webkit-animation: slide-in-left 2.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) .25s both;
	        animation: slide-in-left 2.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) .25s both;
}

.slide-in-elliptic-top-fwd {
	-webkit-animation: slide-in-elliptic-top-fwd 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) .5s both;
	        animation: slide-in-elliptic-top-fwd 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) .5s both;
}

.slide-in-bottom {
	-webkit-animation: slide-in-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 1.5s both;
	        animation: slide-in-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 1.5s both;
}

/* ----------------------------------------------
 * Generated by Animista on 2018-12-24 11:1:31
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation swing-in-top-fwd
 * ----------------------------------------
 */
@-webkit-keyframes swing-in-top-fwd {
  0% {
    -webkit-transform: rotateX(-100deg);
            transform: rotateX(-100deg);
    -webkit-transform-origin: top;
            transform-origin: top;
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
    -webkit-transform-origin: top;
            transform-origin: top;
    opacity: 1;
  }
}
@keyframes swing-in-top-fwd {
  0% {
    -webkit-transform: rotateX(-100deg);
            transform: rotateX(-100deg);
    -webkit-transform-origin: top;
            transform-origin: top;
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
    -webkit-transform-origin: top;
            transform-origin: top;
    opacity: 1;
  }
}

/* ----------------------------------------------
 * Generated by Animista on 2018-12-24 11:2:51
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-in-left
 * ----------------------------------------
 */
@-webkit-keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
            transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
            transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

/* ----------------------------------------------
 * Generated by Animista on 2018-12-24 11:5:44
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-in-elliptic-top-fwd
 * ----------------------------------------
 */
@-webkit-keyframes slide-in-elliptic-top-fwd {
  0% {
    -webkit-transform: translateY(-600px) rotateX(-30deg) scale(0);
            transform: translateY(-600px) rotateX(-30deg) scale(0);
    -webkit-transform-origin: 50% 100%;
            transform-origin: 50% 100%;
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0) rotateX(0) scale(1);
            transform: translateY(0) rotateX(0) scale(1);
    -webkit-transform-origin: 50% 1400px;
            transform-origin: 50% 1400px;
    opacity: 1;
  }
}
@keyframes slide-in-elliptic-top-fwd {
  0% {
    -webkit-transform: translateY(-600px) rotateX(-30deg) scale(0);
            transform: translateY(-600px) rotateX(-30deg) scale(0);
    -webkit-transform-origin: 50% 100%;
            transform-origin: 50% 100%;
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0) rotateX(0) scale(1);
            transform: translateY(0) rotateX(0) scale(1);
    -webkit-transform-origin: 50% 1400px;
            transform-origin: 50% 1400px;
    opacity: 1;
  }
}

/* ----------------------------------------------
 * Generated by Animista on 2018-12-24 11:56:49
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-in-bottom
 * ----------------------------------------
 */
@-webkit-keyframes slide-in-bottom {
  0% {
    -webkit-transform: translateY(1000px);
            transform: translateY(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slide-in-bottom {
  0% {
    -webkit-transform: translateY(1000px);
            transform: translateY(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

